.ruckovodstvo{
    background-color: #f6f3f2;
    padding: 90px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.JavaScript{
    width: 26%;
    background-color: white;
    padding: 40px 35px;
    border-radius: 10px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.12);
}
.par1{
    font-size: 15pt;
    padding-bottom: 15px;
}
.par2{
    font-size: 34pt;
    font-weight: 900;
    color: #19A972;
    padding-bottom: 30px;
}
.par3{
    font-size: 16pt;
    padding-bottom: 30px;
    line-height: 1.8;
}
.par4{
    background-color: #19A972;
    padding: 17px 100px;
    border-radius: 10px;
    font-size: 17pt;
    border: none;
    font-size: 19pt;
    font-weight: 700;
    font-family: serif;
    color: white;
    align-items: center;
}
.par2_2{
    font-size: 34pt;
    font-weight: 900;
    color: #ff5a00;
    padding-bottom: 30px;
}
.par2_3{
    font-size: 34pt;
    font-weight: 900;
    color: #aa1994;
    padding-bottom: 30px;
}
.par4_2{
    background-color: #ff5a00;
    padding: 17px 143px;
    border-radius: 10px;
    font-size: 17pt;
    border: none;
    font-size: 19pt;
    font-weight: 700;
    font-family: serif;
    color: white;
    align-items: center;
}
.par4_3{
    background-color: #aa1994;
    padding: 17px 103px;
    border-radius: 10px;
    font-size: 17pt;
    border: none;
    font-size: 19pt;
    font-weight: 700;
    font-family: serif;
    color: white;
    align-items: center;
}