<div class="ruckovodstvo">
    <div class="JavaScript">
        <div class="par1">РАЗРУШИТЕЛЬНОЕ РУКОВОДСТВО ПО</div>
        <div class="par2"><u>JavaScript и фреймворки</u></div>
        <div class="par3">React, Vue или, может быть, легкий Alpine.js? Независимо 
            от того, являетесь ли вы опытным разработчиком JavaScript, 
            работающим с одним из этих фреймворков, или только начинаете учиться, 
            наши авторы создали для вас несколько руководств.</div>
        <button class="par4">Изучите JavaScript и <br>фреймворки</button>
    </div>
    <div class="JavaScript">
        <div class="par1">РАЗРУШИТЕЛЬНОЕ РУКОВОДСТВО ПО</div>
        <div class="par2_2"><u>Макет CSS</u></div>
        <div class="par3">CSS Layout был преобразован за последние годы. У нас есть все необходимое для освоения этого нового мира. 
            Если вы хотите разобраться в технических деталях или научиться творчески использовать новый CSS, эти руководства могут вам помочь</div>
        <button class="par4_2">Изучите макет CSS</button>
    </div>
    <div class="JavaScript">
        <div class="par1">РАЗРУШИТЕЛЬНОЕ РУКОВОДСТВО ПО</div>
        <div class="par2_3"><u>Веб-производительность</u></div>
        <div class="par3">Важно обеспечить быструю загрузку вашего сайта. Эта тема затрагивает
             практически все аспекты веб-дизайна и разработки, от выбора изображений 
            до производительности вашего веб-сервера. В этом руководстве мы собрали информацию,
             которая поможет вам создать и поддерживать быстрый сайт.</div>
        <button class="par4_3">Изучите производительность</button>
    </div>
</div>