<div class="fon">
    <h5>ИЮНЬ 2020 • ОТПРАВКА СЕЙЧАС</h5>
    <a href="https://www.smashingmagazine.com/printed-books/click/" class="tyu"><h1><u class="edr">Встречайте "Click!": Поощряйте клики
        без сомнительных уловок</u></h1></a>
    <p>Наша новая книга о том, как <b>повысить бизнес-ключевые показатели эффективности</b> , 
        укрепить доверие и эффективно устранять сомнения - не отталкивая людей на этом пути. Автор Пол Боаг.</p>
        <button class="ew">Перейти к содержанию</button>
    <img class="photo" src="/public/imgs/click__homepage-illustration.svg">    
</div>