<div class="membership" id="membership">
    <img src="/public/imgs/cat-firechat.svg" class="qwe">
    <div class="membership__text">
        <p>Все, что вам нужно, - это <b>быстрый и безопасный Интернет</b> ? Вот почему мы тоже используем блокировщики рекламы.
             Мы должны поддерживать работу этих серверов ... 
            Итак, мы настроили <a href="#" class="cx">членство</a> для таких умных файлов cookie, как вы. Далее:</p>
           <ul>
               <li>Smashing TV Session с Марком Эдвардсом на тему <q><a href="#" class="cx"><b>Все об иконах</b></a></q>,</li>
               <li>Новые скидки на инструменты, услуги и учебные пособия,</li>
               <li>... плюс большой выбор модных кошек.</li>
           </ul>
           <button class="zel">O Smashing Членство</button> 

    </div>
</div>