    <h1 class="teaser">
        <span>
            <font>Не пропустите эти последние</font><br>
            <font class="teaser1">статьи</font>
        </span>
    </h1>
    <div class="blocki" id="blocki">
      <article class="article1">
        <div class="p">
          <img src="/public/imgs/Mett Sonders .png"><span>Мэтт Сондерс <i>написал</i></span>
        </div>
          <h1>Как наладить отношения с вашими клиентами веб-дизайна</h1>
        <div class="o">
            <img src="/public/imgs/coment.png"><span>Оставить комментарий</span>
        </div> 
        <div class="i">
          <div class="i1"><img src="/public/imgs/teg.png"> Дизайн<sup>455</sup></div>
          <div class="i2"><img src="/public/imgs/teg.png"> Бизнес<sup>306</sup></div>
          <div class="i3"><img src="/public/imgs/teg.png"> Рабочий процесс<sup>332</sup></div>
        </div>
            <img src="/public/imgs/strelka1.png" class="y">
      </article>
      <article class="article2">
         <div class="p2">
           <img src="/public/imgs/Iris Leshnjanin.png"><span>Ирис Лешнянин <i>написала</i></span>
         </div>
          <h1>SmashingConis, вдохновляющие разговоры и праздничный торт</h1>
          <div class="o2">
            <img src="/public/imgs/coment2.png"><span>Оставить комментарий</span>
          </div>
            <div class="i7">
              <div class="i4"><img src="/public/imgs/teg2.png"> Разрушительный ежемесячный обзор<sup>12</sup></div>
            </div>
              <img src="/public/imgs/strelka2.png" class="y2"> 
      </article>
      <article class="article1">
        <div class="p">
          <img src="/public/imgs/Mett Sonders .png"><span>Мэтт Сондерс <i>написал</i></span>
        </div>
          <h1>Как наладить отношения с вашими клиентами веб-дизайна</h1>
        <div class="o">
            <img src="/public/imgs/coment.png"><span>Оставить комментарий</span>
        </div> 
        <div class="i">
          <div class="i1"><img src="/public/imgs/teg.png"> Дизайн<sup>455</sup></div>
          <div class="i2"><img src="/public/imgs/teg.png"> Бизнес<sup>306</sup></div>
          <div class="i3"><img src="/public/imgs/teg.png"> Рабочий процесс<sup>332</sup></div>
        </div>
            <img src="/public/imgs/strelka1.png" class="y">
      </article>
      <article class="article3">
        <img src="/public/imgs/rili.png" class="img_botton">
        <a class="botton" href="#">Серьёзно, красный?</a>
             <div class="p3">
               <img src="/public/imgs/Alim Isiaca.png"><span>Алим Исиака <i>написал</i></span>
             </div>
                <h1>Расширенное использование GraphQL на сайтах Gatsby</h1>
             <div class="o3">
               <img src="/public/imgs/coment.png"><span>3 комментария</span>
             </div>
             <div class="i8">
                <div class="i9"><img src="/public/imgs/teg.png"> API<sup>61</sup></div>
                <div class="i10"><img src="/public/imgs/teg.png"> Серверов<sup>22</sup></div>
                <div class="i11"><img src="/public/imgs/teg.png"> JavaScript<sup>289</sup></div>
             </div>
               <img src="/public/imgs/strelka1.png" class="y3">
      </article>
    </div>