<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head.ejs') -%>
  <body>
    <%- include('./sections/header/header.ejs') -%>
    <%- include('./sections/latest_posts/latest_posts.ejs') -%>
    <%- include('./sections/adw/adw.ejs') -%>
  </body>
</html>
