<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head.ejs') -%>
  <body>
    <%- include('./sections/header/header.ejs') -%>
    <%- include('./sections/latest_articles/latest_articles.ejs') -%>
  </body>
</html>
