<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head.ejs', {
    title: 'Webpack Starter App',
    author: 'John Doe',
    keywords: ['lorem', 'ipsum', 'dolor', 'sit', 'amet'],
    description: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit.'
  }) -%>
  <body>
    <h1>Basic app</h1>
    <img src="../../public/imgs/index.jpg" alt="">
    <div>
      a basic app with comic font in scss
    </div>
  </body>
</html>
