<div class="post">

  <% [{
        date: '5 дней назад',
        link: 'https://www.smashingmagazine.com/2020/09/smashing-podcast-episode-25/',
        title: 'Smashing Podcast Episode 25 с Энтони Камполо: что такое RedwoodJS?',
        authorName: 'Дрю McLejjan', 
        text: 'Мы говорим о RedwoodJS. Что именно означает быть полнофункциональным фреймворком Jamstack? Дрю Маклеллан разговаривает с чемпионом сообщества Энтони Камполо, чтобы выяснить это.' 
    },
    {
        date: '6 дней назад',
        link: 'https://www.smashingmagazine.com/2020/09/smashing-podcast-episode-25/',
        title: 'Smashing Podcast Episode 25 с Энтони Камполо: что такое RedwoodJS?',
        authorName: 'Дрю McLejjan', 
        text: 'Мы говорим о RedwoodJS. Что именно означает быть полнофункциональным фреймворком Jamstack? Дрю Маклеллан разговаривает с чемпионом сообщества Энтони Камполо, чтобы выяснить это.' 
    },
    {
        date: '7 дней назад',
        link: 'https://www.smashingmagazine.com/2020/09/smashing-podcast-episode-25/',
        title: 'Smashing Podcast Episode 25 с Энтони Камполо: что такое RedwoodJS?',
        authorName: 'Дрю McLejjan', 
        text: 'Мы говорим о RedwoodJS. Что именно означает быть полнофункциональным фреймворком Jamstack? Дрю Маклеллан разговаривает с чемпионом сообщества Энтони Камполо, чтобы выяснить это.' 
    }].forEach(function(post) { 
    %> 
    <%-
        include('../../components/post/index.ejs', { post }
        ) 
    %> 
    <% }); %>
</div>
