<div class="post">
    <div class="post__block">
        <a href="https://www.smashingmagazine.com/2020/09/smashing-podcast-episode-25/">
        <h6 class="qp1">6 дней назад</h6>
        <h3 class="qp2"><u>Smashing Podcast Episode 25 с Энтони Камполо: что такое RedwoodJS?</u></h3>
        <h6 class="qp3">по <u>Дрю McLejjan</u></h6>
        <p class="qp4">Мы говорим о RedwoodJS. Что именно означает быть полнофункциональным 
            фреймворком Jamstack? Дрю Маклеллан разговаривает с чемпионом сообщества
             Энтони Камполо, чтобы выяснить это.</p>
        <img src="/public/imgs/strelka3.png">
        </a>
    </div>
    <div class="post__block">
        <a href="https://www.smashingmagazine.com/2020/09/smashing-podcast-episode-25/">
        <h6 class="qp1">6 дней назад</h6>
        <h3 class="qp2"><u>Как наладить отношения с вашими клиентами веб-дизайна</u></h3>
        <h6 class="qp3">по <u>Мэтт Сондерс</u></h6>
        <p class="qp4">В этой статье Мэтт Сондерс предлагает несколько простых советов о том, как стать более
            опытным веб-дизайнером в бизнесе и вывести свою практику на новый уровень.</p>
        <img src="/public/imgs/strelka3.png">
        </a>
    </div>
    <div class="post__block">
        <a href="https://www.smashingmagazine.com/2020/09/smashing-podcast-episode-25/">
        <h6 class="qp1">6 дней назад</h6>
        <h3 class="qp2"><u>Smashing Podcast Episode 25 с Энтони Камполо: что такое RedwoodJS?</u></h3>
        <h6 class="qp3">по <u>Дрю McLejjan</u></h6>
        <p class="qp4">Мы говорим о RedwoodJS. Что именно означает быть полнофункциональным 
            фреймворком Jamstack? Дрю Маклеллан разговаривает с чемпионом сообщества
             Энтони Камполо, чтобы выяснить это.</p>
        <img src="/public/imgs/strelka3.png">
        </a>
    </div>
    <div class="post__block">
        <a href="https://www.smashingmagazine.com/2020/09/smashing-podcast-episode-25/">
        <h6 class="qp1">6 дней назад</h6>
        <h3 class="qp2"><u>Smashing Podcast Episode 25 с Энтони Камполо: что такое RedwoodJS?</u></h3>
        <h6 class="qp3">по <u>Дрю McLejjan</u></h6>
        <p class="qp4">Мы говорим о RedwoodJS. Что именно означает быть полнофункциональным 
            фреймворком Jamstack? Дрю Маклеллан разговаривает с чемпионом сообщества
             Энтони Камполо, чтобы выяснить это.</p>
        <img src="/public/imgs/strelka3.png">
        </a>
    </div>
    <div class="post__block">
        <a href="https://www.smashingmagazine.com/2020/09/smashing-podcast-episode-25/">
        <h6 class="qp1">6 дней назад</h6>
        <h3 class="qp2"><u>Smashing Podcast Episode 25 с Энтони Камполо: что такое RedwoodJS?</u></h3>
        <h6 class="qp3">по <u>Дрю McLejjan</u></h6>
        <p class="qp4">Мы говорим о RedwoodJS. Что именно означает быть полнофункциональным 
            фреймворком Jamstack? Дрю Маклеллан разговаривает с чемпионом сообщества
             Энтони Камполо, чтобы выяснить это.</p>
        <img src="/public/imgs/strelka3.png">
        </a>
    </div>
    <div class="post__block">
        <a href="https://www.smashingmagazine.com/2020/09/smashing-podcast-episode-25/">
        <h6 class="qp1">6 дней назад</h6>
        <h3 class="qp2"><u>Smashing Podcast Episode 25 с Энтони Камполо: что такое RedwoodJS?</u></h3>
        <h6 class="qp3">по <u>Дрю McLejjan</u></h6>
        <p class="qp4">Мы говорим о RedwoodJS. Что именно означает быть полнофункциональным 
            фреймворком Jamstack? Дрю Маклеллан разговаривает с чемпионом сообщества
             Энтони Камполо, чтобы выяснить это.</p>
        <img src="/public/imgs/strelka3.png">
        </a>
    </div>
    <div class="post__block">
        <a href="https://www.smashingmagazine.com/2020/09/smashing-podcast-episode-25/">
        <h6 class="qp1">6 дней назад</h6>
        <h3 class="qp2"><u>Smashing Podcast Episode 25 с Энтони Камполо: что такое RedwoodJS?</u></h3>
        <h6 class="qp3">по <u>Дрю McLejjan</u></h6>
        <p class="qp4">Мы говорим о RedwoodJS. Что именно означает быть полнофункциональным 
            фреймворком Jamstack? Дрю Маклеллан разговаривает с чемпионом сообщества
             Энтони Камполо, чтобы выяснить это.</p>
        <img src="/public/imgs/strelka3.png">
        </a>
    </div>
    <div class="post__block">
        <a href="https://www.smashingmagazine.com/2020/09/smashing-podcast-episode-25/">
        <h6 class="qp1">6 дней назад</h6>
        <h3 class="qp2"><u>Smashing Podcast Episode 25 с Энтони Камполо: что такое RedwoodJS?</u></h3>
        <h6 class="qp3">по <u>Дрю McLejjan</u></h6>
        <p class="qp4">Мы говорим о RedwoodJS. Что именно означает быть полнофункциональным 
            фреймворком Jamstack? Дрю Маклеллан разговаривает с чемпионом сообщества
             Энтони Камполо, чтобы выяснить это.</p>
        <img src="/public/imgs/strelka3.png">
        </a>
    </div>
</div>