<section class="header" id="header">
        <div>
            <a href="http://localhost:8888/" title="← Вернуться на главную">    
            <img src="/public/imgs/logotip.png" alt="" class="img">
            </a>
        </div>
        <div class="navv">
            <nav class="nav" id="nav">
                <ul>
                 <li><a href="index.html">Статьи</a></li>
                 <li><a href="guides.html">Гайды</a></li>
                 <li><a href="books.html">Книги</a></li>
                 <li class="tyui4">События</li>
                 <li class="tyui3">Членство</li>
                 <li class="tyui2">Вакансии</li>
                 <li class="tyui1">Новостная рассылка</li>
                 <li class="tyui">Подкасты</li>
                 <button class="more" type="button">Больше
                    <img src="/public/imgs/cat.png">
                 </button>
                </ul>
            </nav>
            <button class="burger" type="button" id="navToggle">
               <span class="burger_item"></span>
            </button>
        </div>
        <div class="search">
            <img src="/public/imgs/lupa1.png" alt="">
            <input type="text" placeholder="Искать статьи ...">
        </div>
    </section>