<div class="footer">
    <div class="f1">ПРОСМОТРЕТЬ ВСЕ ТЕМЫ ЖУРНАЛА SMASHING MAGAZINE</div>
    <div class="f2"><ul>
        <li>Доступность</li>
        <li>Android</li>
        <li>Анимация</li>
        <li>Программы</li>
        <li>CSS</li>
        <li>дизайн</li>
        <li>Шаблоны проектирования</li>
        <li>Дизайн-системы</li>
        <li>Электронная коммерция</li>
        <li>Халява</li>
        <li>Графика</li>
        <li>HTML</li>
        <li>Иллюстратор</li>
        <li>Вдохновение</li>
        <li>iOS</li>
        <li>JavaScript</li>
        <li>Мобильный</li>
        <li>Библиотеки шаблонов</li>
        <li>Спектакль</li>
        <li>Фотошоп</li>
        <li>Плагины</li>
        <li>Реагировать</li>
        <li>Адаптивный веб-дизайн</li>
        <li>Сервисные работники</li>
        <li>Эскиз</li>
        <li>Типография</li>
        <li>UI</li>
        <li>Удобство использования</li>
        <li>Пользовательский опыт</li>
        <li>Обои</li>
        <li>Веб-дизайн</li>
        <li>WordPress</li>
        <li>Рабочий процесс</li>
    </ul></div>
    <div class="fff">
    <div class="f3"><i>С приверженностью качественному контенту для дизайнерского сообщества.</i>

        Основана Виталием Фридманом и Свеном Леннарцем. 2006–2020 гг .
        
        Smashing с гордостью работает на <a href="#" class="aqs"> Netlify</a> .
        
        Шрифты по <a href="#" class="aqs"> латинице </a>.</div>
    </div>
    <div class="fff">
    <div class="f4">
        <a href="#" class="aqs"> ✎ Напишите нам</a>
        <a href="#" class="aqs"> Связаться с нами</a>
        <a href="#" class="aqs"> О нас (Impressum)</a>
        <a href="#" class="aqs"> Политика конфиденциальности</a>
        <a href="#" class="aqs"> Вход в систему</a>
        <a href="#" class="aqs"> Время доставки</a>
        <a href="#" class="aqs"> Рекламировать</a>
    </div>
</div>
<img src="/public/imgs/pt.png" class="pt">
</div>