@charset "UTF-8";

@font-face {
font-family: 'MyFont';
  src:  url('../../public/fonts/comic.woff2') format('woff2'),
        url('../../public/fonts/comic.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

body {
    font-family: 'MyFont';
}