@charset "UTF-8";
@import './variables.scss';

body {
    font-family: $fontFamily;
    margin: 0;
}

main {
  height: calc(100vh - #{$headerHeight} - #{$footerHeight});
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@import '../views/components/header/index.scss';
@import '../views/components/footer/index.scss';