@charset "UTF-8";

@font-face {
font-family: 'MyFont';
  src:  url('../../public/fonts/comic.woff2') format('woff2'),
        url('../../public/fonts/comic.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

body {
    font-family: 'MyFont';
    margin: 0;
}

@import '../views/sections/adw/adw.scss';
@import '../views/sections/community_links/community_links.scss';
@import '../views/sections/footer/footer.scss';
@import '../views/sections/guides/guides.scss';
@import '../views/sections/header/header.scss';
@import '../views/sections/latest_articles/latest_articles.scss';
@import '../views/sections/latest_posts/latest_posts.scss';
@import '../views/sections/membership/membership.scss';
@import '../views/sections/table_of_content/table_of_content.scss';
