<div class="community">
    <div class="men_nedeli">
        <img src="/public/imgs/community1.png" class="img_men">
        <p class="zagal">ЧЕЛОВЕК НЕДЕЛИ</p>
        <p class="text">Альваро Триго (<a href="https://twitter.com/IMAC2">@ IMAC2</a> ) - веб-разработчик-самоучка, который стремится объединить красоту 
            дизайна с логическим совершенством кодирования. Несколько лет назад он создал свой первый плагин JavaScript,
             не имея опыта и в качестве эксперимента, чтобы улучшить свои навыки; сегодня его 
             код ( <a href="https://alvarotrigo.com/fullPage/">например,</a> библиотека <a href="https://alvarotrigo.com/fullPage/">fullPage.js</a> )
              используется во всем мире такими компаниями, как Google, eBay, BBC и Sony. Совет Альваро: «Не ждите, чтобы стать мастером,
               начните прямо сейчас!» Спасибо, дорогой Альваро, не тольк о за то, что предоставил разработчикам полезные 
               инструменты, но и за то, что вдохновил всех начать творить.</p>
    </div>
    <div class="community_block">
        <img src="/public/imgs/community2.png" class="img_block">
        <p class="zgal_block"><a href="https://twitter.com/shadeed9">Ахмад Шадид </a>написал</p>
        <p class="zgal_block2"><a href="https://ishadeed.com/article/finding-the-root-cause/">Поиск первопричины ошибки CSS</a></p>
        <p class="zgal_block3"><span> 25 сентября 2020 г.</span> Ахмад Шадид писал о <a href="https://ishadeed.com/article/finding-the-root-cause/">
         важности поиска первопричины ошибки CSS </a>.В статье описаны различные ошибки CSS и способы их решения с нуля.</p>
    </div>
    <div class="community_block">
        <img src="/public/imgs/community3.png" class="img_block">
        <p class="zgal_block"><a href="https://twitter.com/shadeed9">Кэти Хемпениус </a>написала</p>
        <p class="zgal_block2"><a href="https://ishadeed.com/article/finding-the-root-cause/">Сети доставки контента</a></p>
        <p class="zgal_block3"><span>24 сентября 2020 г.</span> Сети доставки контента (CDN) повышают производительность сайта за счет использования 
            распределенной сети серверов для доставки ресурсов пользователям. Кэти Хемпениус написала
            <a href="https://ishadeed.com/article/finding-the-root-cause/">
                руководство </a>о том, как работают CDN, а также о том, как выбирать, настраивать и оптимизировать настройку CDN</p>
    </div>
    <div class="community_block">
        <img src="/public/imgs/community4.png" class="img_block">
        <p class="zgal_block"><a href="https://twitter.com/shadeed9">Аманда Пинскер </a>написала</p>
        <p class="zgal_block2"><a href="https://ishadeed.com/article/finding-the-root-cause/">GitHub CLI 1.0</a></p>
        <p class="zgal_block3"><span> 23 сентября 2020 г.</span> GitHub CLI переносит GitHub на ваш терминал. Это уменьшает переключение контекста, помогает 
        сосредоточиться и упрощает создание сценариев и собственных рабочих процессов. Аманда Пинскер подытожила, 
        <a href="https://ishadeed.com/article/finding-the-root-cause/"> как это работает </a>.</p>
    </div>
    <div class="community_block">
        <img src="/public/imgs/community5.png" class="img_block">
        <p class="zgal_block"><a href="https://twitter.com/shadeed9">Дэнни Бэнкс </a>написал</p>
        <p class="zgal_block2"><a href="https://ishadeed.com/article/finding-the-root-cause/">Мультиплатформенные системы проектирования</a></p>
        <p class="zgal_block3"><span> 22 сентября 2020 г.</span> Знаете ли вы, что менее 10% систем общедоступного дизайна поддерживают платформы, 
            отличные от Интернета? Чтобы получить более целостный взгляд и включить все способы предоставления опыта клиентам,
             Дэнни Бэнкс исследует, <a href="https://ishadeed.com/article/finding-the-root-cause/">
                как вы можете включить другие платформы в свои системы проектирования  </a>.</p>
    </div>
    <div class="community_block">
        <img src="/public/imgs/community6.png" class="img_block">
        <p class="zgal_block"><a href="https://twitter.com/shadeed9">Зелл Лью </a>написал</p>
        <p class="zgal_block2"><a href="https://ishadeed.com/article/finding-the-root-cause/">Сайты с извилистыми путями SVG</a></p>
        <p class="zgal_block3"><span> 21 сентября 2020 г.</span> Как создавать сайты с извилистыми SVG-путями? Заинтригованный сайтом Netlify с
             <a href="https://ishadeed.com/article/finding-the-root-cause/">
                миллионами разработчиков , Зелл Лев исследует возможности </a>и то, чему они его учат, о том, как мы подходим к разработке интерфейса.</p>
    </div>
    <div class="community_block">
        <img src="/public/imgs/community7.png" class="img_block">
        <p class="zgal_block"><a href="https://twitter.com/shadeed9">Роберт Броерсма </a>написал</p>
        <p class="zgal_block2"><a href="https://ishadeed.com/article/finding-the-root-cause/">Большие головы</a></p>
        <p class="zgal_block3"><span> 18 сентября 2020 г.</span><a href="https://ishadeed.com/article/finding-the-root-cause/">
            Big Heads </a>позволяет объединять выражения лиц, одежду, прически и цвета в уникальных персонажей. Вы можете встроить их на свой сайт,
             использовать в своем любимом программном обеспечении для дизайна или импортировать их из библиотеки React.</p>
    </div>
</div>
<div class="tw">
<div class="twitter"><a href="https://twitter.com/smashingmag" class="twitter">ДОПОЛНИТЕЛЬНЫЕ ССЫЛКИ В TWITTER</a></div>
<div class="polosa"></div>
</div>