<div class="book">
    <div class="book1">ИЗБРАННАЯ КНИГА SMASHING</div>
    <div class="book2"><u>Дизайн-системы</u></div>
    <div class="book3">Встречайте Design Systems , недавнюю книгу Smashing, в которой Алла Холматова исследует,
         как создать эффективную систему дизайна для создания великолепных цифровых продуктов. С обычными ловушками, 
         ловушками и извлеченными уроками.</div>
    <div class="book4"><button class="book__knopka">Перейти к содержанию</button></div>
    <img src="/public/imgs/book.png" class="red_book">
</div>
